@font-face {
  font-family: 'Mova';
  src: url('./assets/fonts/Mova.otf');
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Mova', sans-serif;
  transition: background-color 2s, color 2s; /* Add transition for background and text color */
}

/* Screen reader only class for accessibility */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}


